body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-image: url(cadastro..jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffffcc;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
       backdrop-filter: blur(6px);
}

.formulario h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1d233f;
    font-weight: 1000000000000000000;
}


.formulario label {
    font-size: 15px;
    color: #3a4da1;
    margin-top: 10px;
    display: block;
}

.formulario input {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
    outline: none;
    transition: 0.3s;
}

.formulario input:focus {
    border-color: #060823;
    box-shadow: 0 0 8px rgba(61, 71, 87, 0.4);
}


.formulario button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #141447;
    border: none;
    color: rgb(253, 250, 250);
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}


.formulario button a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.formulario button:hover {
    background: #0f1327;
}